*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Numans', sans-serif;
	font-size: 1.6rem;
	background-color: #fff;
	// overflow: hidden;
}

// FIRST SCREEN

.hero-img {
	margin: 0 auto;
	position: relative;
	height: 100vh;
	width: 100vw;
	transition: height 0.8s ease;
	z-index: -1;
	display: none;
	img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
		letter-spacing: 6px;
		color: #bfcabd;
		opacity: 0;
		animation: show 5s 0.5s ease forwards;
		z-index: 1;

		h1 {
			margin-bottom: 0.5rem;
			font-size: 10rem;

			i {
				margin-right: 0.5rem;
			}
		}

		small {
			font-size: 3.5rem;
		}
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 0;
	}
	&__api-info {
		position: absolute;
		bottom: 2rem;
		right: 5rem;
		color: #bfcabd;
		opacity: 0;
		animation: show 3s 1.5s ease forwards;
		z-index: 100;
	}
}
.hero-img.hide {
	height: 0;
}

@keyframes show {
	to {
		opacity: 1;
	}
}
//NAVIGATION

.nav {
	display: none;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: repeat(10, 1fr);
	position: sticky;
	top: 0;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	max-width: 1200px;
	height: 20vh;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	background-color: #bfcabd;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
	z-index: 100;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		height: 100%;
		width: 100%;
		font-size: 2rem;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: #2e4f4f;
		transition: transform 0.3s ease;

		&--active {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			z-index: 10;
		}
	}
	&__link:hover {
		transform: scale(0.98);
	}

	&__link:nth-child(1) {
		grid-column: 1 / 3;
	}
	&__link:nth-child(2) {
		grid-column: 3 / 5;
	}
	&__link:nth-child(3) {
		grid-column: 5 / 7;
	}
	&__link:nth-child(4) {
		grid-column: 7 / 9;
	}
	&__link:nth-child(5) {
		grid-column: 9 / -1;
	}

	&__results {
		grid-row: 2 / 3;
		grid-column: 1 / 6;

		&--active {
			border-bottom: 3px solid;
		}
	}
	&__table {
		grid-row: 2 / 3;
		grid-column: 6 / 11;
	}

	&__results,
	&__table {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		color: #2e4f4f;
		background-color: #fff;
		font-family: inherit;
		font-size: 2rem;
		text-align: center;
		text-decoration: none;
		transition: font-size 0.3s ease;
		cursor: pointer;
	}

	&__results:hover,
	&__table:hover {
		font-size: 1.9rem;
	}
}

.nav-mobile {
	position: relative;
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: repeat(8, 1fr);
	align-items: center;
	width: 100vw;
	height: 20vh;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	background-color: #bfcabd;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	z-index: 100;

	.hamburger {
		z-index: 200;
		grid-row: 1 / 2;
		grid-column: 1 / 3;
	}

	&__title {
		// margin: 0 auto;
		grid-row: 1 / 2;
		grid-column: 3 / 9;
		color: #2e4f4f;
		font-size: 2.4rem;
		letter-spacing: 5px;
	}

	&__links {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		background-color: #bfcabd;
		transform: translateX(-102%);
		transition: transform 0.3s ease;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&__link {
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2rem;
		color: #2e4f4f;
		text-transform: uppercase;
		text-decoration: none;
		transition: transform 0.3s ease;
		cursor: pointer;

		&--active {
			border-bottom: 2px solid #2e4f4f;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
		}
	}

	&__results {
		grid-row: 2 / 3;
		grid-column: 1 / 5;
		border-right: 2px solid #2e4f4f;
	}
	&__table {
		grid-row: 2 / 3;
		grid-column: 5 / -1;
	}

	&__results,
	&__table {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		color: #2e4f4f;
		background-color: #fff;
		font-family: inherit;
		font-size: 1.6rem;
		border-bottom: 2px solid #2e4f4f;
		text-align: center;
		transition: font-size 0.3s ease;
		cursor: pointer;
	}
}

// MAIN SECTION

.main {
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: 80vh;
	width: 100vw;
	max-width: 1200px;
	font-family: inherit;

	&__img {
		background-image: url('/dist/img/main_field_large.jpg');
		background-position: bottom;
		background-size: cover;
		width: 100%;
		opacity: 0.4;
	}

	.scores {
		display: flex;
		flex-direction: column;
		position: absolute;
		justify-content: flex-start;
		align-items: center;
		top: 20px;
		bottom: 20px;
		width: 80%;
		font-size: 2rem;
		border-radius: 12px;
		background-color: rgba(51, 51, 51, 0.3);
		color: #2e4f4f;

		&__container {
			display: flex;
			padding: 20px;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: #2e4f4f;
		}

		&__round {
			margin-top: 10px;
			padding: 10px 5px;
			font-size: 2.5rem;
			background-color: rgba(46, 79, 79, 0.829);
			color: #fff;
			border-radius: 10px;
			box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
		}
		
		&__score, &__team1, &__team2 {
			margin: 0 5px;
			padding: 10px;
			font-size: 1.6rem;
			background-color: rgba(255, 255, 255, 0.8);
			border-radius: 10px;
			box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
		}
	}
}

// MEDIA

@media (max-width: 576px) {
	.nav-mobile__title {
		font-size: 1.3rem;
	}

	.main {
		overflow: hidden;

		&__img {
			background-image: url('/dist/img/main_field.jpg');
		}
	}
}

@media (min-width: 768px) {
	.nav {
		display: grid;
	}

	.nav-mobile {
		display: none;
	}
}
